

 .iframe {
    border: 0;
    width: 100%;
 }
 
  /* campo de login */
 .login {  
    position: relative;
    background-color: white;
    border: none;
    width: 30%;
    height: 300px;
    top: 150px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin:auto;
    top: 100%;
    color: blue;
               

         }
        
    /*botão de acesso */
    
     
    .Enviar{
    padding: 8px 20px;
    border-width: 1px;
    border-color: #3633f7;
    border-radius: 50px;
    background-color: #3633f7;
    text-decoration: none;
    position: relative;
    margin-right: 17px;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 8px;
    font-family: "adobe-clean", sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 31px;
 
 
 }
 
 div#login {
    margin-bottom: 5%;
    border: none;
}
 .user { 
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-color: #0000000d;
    width: auto;
    margin-top: 8%;
    outline: 0;
}
 

.password_input {
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-color: #0000000d;
    width: auto;
    outline: 0;
}
