.iframe-css {
    border: 0;
    width: 100%;
}

body {
 margin: 0px;
}

/* background*/

.hero {
    background-image: url(../images/hero-bg.jpg);
    height: 439px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;

}

h1 {
    color: white;
    font-family: "adobe-clean", sans-serif;
    font-size: 41px;
    font-weight: 900;
    letter-spacing: -1px;

    padding-left: 73px;
    margin-bottom: 19px;
}

p {
    color: white;
    padding-left: 73px;
    font-family: "adobe-clean", sans-serif;
    font-size: 14px;
}

/* campo de busca*/

input {
    border: none;
    padding: 17px 237px;
    background-color: white;
    border-radius: 100px;
    width: 100%;
    display: flex;
    box-shadow: 0px 2px 7px 0px rgba(184,175,184,1);
    font-size: 26px;
    box-sizing: border-box;
    padding-left: 56px;
    color: #00000063;
    font-family: arial;
    outline: 0;
}

input:focus {
    color: black;
}

.magnifier {
    position: absolute;
    left: 0;
    right: 0;
    max-width: max-content;
    margin: auto;
    bottom: -32px;   
}

.image_search {
    position: absolute;
    width: 5%;
    height: 15px;
    display: flex;
    margin-top: 26px;
    margin-left: 20px;
}

.msg_error {
    color: #bd1c1c;
    position: absolute;
    font-size: 18px;
    text-shadow: #e0dada 0.1em 0.1em 0.2em;
}

/* media query será aplicado quando a
 tela ou browser tiver exatos 450 pixels de largura */

@media (max-width:450px){
    input {
        font-size: 14px;
        padding: 11px 50px;
        padding-left: 41px;
        outline: 0;
    }

    input:focus {
        color: black;
    }

    .hero{
        height: 481px;
        width: 100%;
        background-size: cover;
        background-position: center;
        position: relative;
        background-image: url(../images/hero-bg-mobile.jpg)
    }

    .image_search {
        margin-top: 12px;
        width: 4%;
        margin-left: 20px;
    }

    h1{
  
        font-size: 33px;
        padding-left: 26px;
        margin-top: -16px;
        margin-bottom: -5px;
    }

    p{
        padding-left: 26px;

    }

    .magnifier {
        bottom: 127px;

    }
}

